body {
    margin: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;;
}
h1 {
    font-size: 5.625rem;
    color: #66bfbf;
    margin: 50px auto 0 auto;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2;
    
}
a{
    font-family: 'Ubuntu', sans-serif;
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
div {
    margin: 0;
    text-align: center;
}
h2{
    color: #66bfbf;
    margin-top: 2em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #66bfbf;
    font-family: 'Ubuntu', sans-serif;
}
p{
    line-height: 2;
}
hr{
    border: none #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
#profilepic{
    border-radius: 100%;
    height: 200px;
}
.topcontainer{
    background-color: #E4F9F5;
    position: relative;    
    padding-top: 100px;
    margin: 0;
}
/* .mountainpic{
    width: 50%;
} */
.pro{
    text-decoration: underline;
}
.intro{
    margin: auto;
    text-align: center;
    width: 30%;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;

}
.bottom-cloud{
    position: absolute;
    left: 250px;;
    bottom: 300px;
}

.middle-container{
    margin: 100px 0;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.ios-dev{
    margin-right: 30px;
    width: 15%;
    float: left;
}

.web-development-pic{
    margin-left: 30px;
    width: 15%;
    float: right;
}

.ninjutsu-pic{
    margin-right: 30px;
    width: 15%;
    float: left;
}
.karting{
    /* margin-left: 30px; */
    width: 15%;
    float: right;
}

#explanation-of-me{
    margin: auto auto 50px auto;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.butn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


.bottom-container{
    background-color: #66BFBF;
    margin: 100px auto 0 auto;
    padding: 50px 0 20px;
}

#copy-right{
    /* margin: 50 auto auto auto; */
    padding: 20px 0;
    font-size: 0.75rem;
    color: #EAF6F6;

}